<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tmacoin.post.android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".tmitter.MySubscriptionsActivity"></activity>
        <activity android:name=".tmitter.ShowMyTweetsActivity"></activity>
        <activity android:name=".tmitter.SendTmeetActivity" />
        <activity android:name=".tmitter.SearchTwitterActivity" />

        <activity android:name=".ShowPeersActivity" />
        <activity
            android:name=".messaging.AddAddressActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".messaging.ShowMessagesActivity" />
        <activity
            android:name=".LogViewerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />
        <activity
            android:name=".messaging.ShowMessageActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".messaging.ShowMessagesActivity" />
        <activity
            android:name=".messaging.ShowMessagesActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".ConnectedToNetworkActivity" />
        <activity
            android:name=".SendTransactionActivity"
            android:parentActivityName=".ConnectedToNetworkActivity" />
        <activity
            android:name=".messaging.SendMessageActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".ConnectedToNetworkActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ChangePasswordActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".ConnectedToNetworkActivity" />
        <activity
            android:name=".GetBalanceActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".ConnectedToNetworkActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ConnectedToNetworkActivity" />
        </activity>
        <activity
            android:name=".ConnectedToNetworkActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />
        <activity
            android:name=".GetFilesConfig"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />
        <activity
            android:name=".ExportFilesConfig"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />
        <activity
            android:name=".tmitter.CreateAccount"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />

        <activity
            android:name=".posting.CreatePost"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />

        <service
            android:name=".messaging.NewMessageNotifier"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />
    </application>

</manifest>